{% extends "BlogBundle::base.html.twig" %}

{% block title %}Article:list{% endblock %}

{% block header_script %}
    <script>var ajaxurl='{{ path('blog_list_more_articles') }}';</script>
{% endblock %}

{% block content %}
<h1>Список статтей</h1>
    <span>Статьи отсортированы:
        {% set sort = app.request.get('sort') %}
        {% if (("newest" == sort) or (sort is empty)) %}
            По новизне
        {% else %}
            <a href="{{ path('blog_list_articles') }}?sort=newest">По новизне</a>
        {% endif %}
            /
        {% if ("popular" == sort) %}
            По количеству просмотров
        {% else %}
            <a href="{{ path('blog_list_articles') }}?sort=popular">По количеству просмотров</a>
        {% endif %}
    </span>

    <ul>
        {% include 'BlogBundle:Article:list_li.html.twig' %}
    </ul>
    <div>
        <button class="btn btn-primary" style="margin-left: 45%;">Show more</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# todo add custom script for loading more articles from ajax #}
{% endblock %}