# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ADMIN: [ROLE_USER]

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        in_memory:
            memory: ~
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        secured_area:
            pattern:    ^/(login|connect)*
            form_login:
                provider: fos_userbundle
                login_path: /login
                use_referer: true
                failure_handler: user_custom_auth_fail_handler
                success_handler: user_custom_auth_success_handler
#                check_path: /login/login_check
            anonymous: true
            oauth:
                resource_owners:
                    github:     "/login/check-github"
                    twitter:    "/login/check-twitter"
                    linkedin:   "/login/check-linkedin"
                login_path:        /
                use_forward:       false
                failure_path:      /login

                oauth_user_provider:
                    service: user.provider.oauth
            logout:       true

        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: security.csrf.token_manager
                use_referer: true

            logout:       true
            anonymous:    true
            remember_me:
                key:      "%secret%"
                lifetime: 31536000 # 365 days in seconds
                path:     /

            # http_basic: ~
            # http://symfony.com/doc/current/book/security.html#a-configuring-how-your-users-will-authenticate

            # form_login: ~
            # http://symfony.com/doc/current/cookbook/security/form_login_setup.html

    access_control:
            -
                path: ^/login$
                allow_if: "is_anonymous() and !has_role('ROLE_USER')"
            - { path: ^/article/add$, roles: ROLE_ADMIN }
