blog_list_articles:
    path:     /
    defaults: { _controller: BlogBundle:Article:list }
    methods: [GET]

blog_list_more_articles:
    path:     /article/list/{page}
    defaults: { _controller: BlogBundle:Article:listMore, page:1 }
    requirements:
      page: \d+
    methods: [GET]

blog_add_article:
    path:   /article/add
    defaults: { _controller: BlogBundle:Article:add }
    methods: [GET, POST]

blog_edit_article:
    path:   /article/{slug}/edit
    defaults: { _controller: BlogBundle:Article:edit }
    methods: [GET, POST]

blog_delete_article:
    path:   /article/{slug}/delete
    defaults: { _controller: BlogBundle:Article:delete }
    methods: [GET]

blog_view_article:
    path:   /article/{slug}
    defaults: { _controller: BlogBundle:Article:view }
    methods: [GET]

blog_article_add_comment:
    path:   /article/{slug}
    defaults: { _controller: BlogBundle:Comment:add }
    methods: [POST]

blog_article_edit_comment:
    path: /article/{slug}/{comment_id}/edit
    defaults: { _controller: BlogBundle:Comment:edit }
    methods: [GET, POST]

#blog_article_delete_comment:
#    path: /article/{slug}/{comment_id}/delete
#    defaults: { _controller: BlogBundle:Comment:delete }
#    methods: [GET]
