blog_list_articles:
    path:     /
    defaults: { _controller: BlogBundle:Article:list }
    methods: [GET]

blog_add_article:
    path:   /article/add
    defaults: { _controller: BlogBundle:Article:add }
    methods: [GET, POST]

blog_edit_article:
    path:   /article/edit/{slug}
    defaults: { _controller: BlogBundle:Article:edit }
    methods: [GET, POST]
